@model Apartment.Models.Spouse

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Spouse</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsMarried)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsMarried)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormerNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormerNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpouseSecurity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpouseSecurity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpouseDriverLicense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpouseDriverLicense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GovtId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GovtId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EyeColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EyeColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USCitizen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USCitizen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpouseEmployed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpouseEmployed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrossIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrossIncome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorPhone)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
