@model Apartment.Models.TenantInformation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TenantInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DriversLicense)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DriversLicense)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GovtIDCard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GovtIDCard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialSecurity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialSecurity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EyeColor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EyeColor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MartialStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MartialStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCitizen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCitizen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoesSmoke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoesSmoke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasPet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasPet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PetDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PetDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentCurrentAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentCurrentAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApartmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApartmentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptManagerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptManagerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AptManagerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AptManagerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovedInDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovedInDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoveOutReason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoveOutReason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousZip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousZip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentPrevious)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentPrevious)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousAptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousAptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousAptManager)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousAptManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousAptPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousAptPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PreviousRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PreviousRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateMovedIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateMovedIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateMovedOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateMovedOut)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
