@model Apartment.Models.OtherOccupants

@{
    ViewBag.Title = "Create";
}

<legend class="legend">Other Occupants</legend>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <h3 id="contactForm">Occupant #1</h3>
        <div class="well well-lg">
            <fieldset class="editor">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.Relationship)
                @Html.TextBoxFor(model => model.Relationship)
                @Html.ValidationMessageFor(model => model.Relationship, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.Gender)
                @Html.EnumDropDownListFor(model => model.Gender, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.Birthdate)
                @Html.TextBoxFor(model => model.Birthdate)
                @Html.ValidationMessageFor(model => model.Birthdate, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.IDNum)
                @Html.TextBoxFor(model => model.IDNum)
                @Html.ValidationMessageFor(model => model.IDNum, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.State)
                @Html.EnumDropDownListFor(model => model.State, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </fieldset>
        </div>

        <h3 id="contactForm">Occupant #2</h3>
        <div class="well well-lg">
            <fieldset class="editor">
                @Html.LabelFor(model => model.Name2)
                @Html.TextBoxFor(model => model.Name2)
                @Html.ValidationMessageFor(model => model.Name2, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.Relationship2)
                @Html.TextBoxFor(model => model.Relationship2)
                @Html.ValidationMessageFor(model => model.Relationship2, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.Gender2)
                @Html.EnumDropDownListFor(model => model.Gender2, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.Gender2, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.Birthdate2)
                @Html.TextBoxFor(model => model.Birthdate2)
                @Html.ValidationMessageFor(model => model.Birthdate2, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.IDNum2)
                @Html.TextBoxFor(model => model.IDNum2)
                @Html.ValidationMessageFor(model => model.IDNum2, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.State2)
                @Html.EnumDropDownListFor(model => model.State2, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.State2, "", new { @class = "text-danger" })
            </fieldset>
        </div>

        <h3 id="contactForm">Occupant #3</h3>
        <div class="well well-lg">
            <fieldset class="editor">
                @Html.LabelFor(model => model.Name3)
                @Html.TextBoxFor(model => model.Name3)
                @Html.ValidationMessageFor(model => model.Name3, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.Relationship3)
                @Html.TextBoxFor(model => model.Relationship3)
                @Html.ValidationMessageFor(model => model.Relationship3, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.Gender3)
                @Html.EnumDropDownListFor(model => model.Gender3, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.Gender3, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.Birthdate3)
                @Html.TextBoxFor(model => model.Birthdate3)
                @Html.ValidationMessageFor(model => model.Birthdate3, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.IDNum3)
                @Html.TextBoxFor(model => model.IDNum3)
                @Html.ValidationMessageFor(model => model.IDNum3, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.State3)
                @Html.EnumDropDownListFor(model => model.State3, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.State3, "", new { @class = "text-danger" })
            </fieldset>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Continue" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}
@if (User.IsInRole("Admin") || User.IsInRole("Landlord"))
{
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
