@model Apartment.Models.OtherOccupants

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OtherOccupants</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relationship)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relationship2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNum2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNum2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Relationship3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Relationship3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthdate3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthdate3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNum3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNum3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
