@model Apartment.Models.WorkHistory

@{
    ViewBag.Title = "Create";
}

<legend class="legend">Work History</legend>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="well well-lg">
            <fieldset class="editor">
                @Html.LabelFor(m => m.PresentlyEmployed)
                @Html.CheckBoxFor(model => model.PresentlyEmployed, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.PresentlyEmployed, "", new { @class = "text-danger" })
            </fieldset>
            <hr />
            <fieldset class="editor">
                @Html.LabelFor(m => m.Employer)
                @Html.TextBoxFor(m => m.Employer)
                @Html.ValidationMessageFor(model => model.Employer, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.Address)
                @Html.TextBoxFor(m => m.Address)
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.City)
                @Html.TextBoxFor(m => m.City)
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.State)
                @Html.EnumDropDownListFor(model => model.State, new { style = "margin-left: 20px; width: auto; line-height: 1em;" })
                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.ZipCode)
                @Html.TextBoxFor(m => m.ZipCode)
                @Html.ValidationMessageFor(model => model.ZipCode, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.WorkPhone)
                @Html.TextBoxFor(m => m.WorkPhone)
                @Html.ValidationMessageFor(model => model.WorkPhone, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.Position)
                @Html.TextBoxFor(m => m.Position)
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.GrossIncome)
                @Html.TextBoxFor(m => m.GrossIncome)
                @Html.ValidationMessageFor(model => model.GrossIncome, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.BeginDate)
                @Html.TextBoxFor(m => m.BeginDate)
                @Html.ValidationMessageFor(model => model.BeginDate, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.SupervisorName)
                @Html.TextBoxFor(m => m.SupervisorName)
                @Html.ValidationMessageFor(model => model.SupervisorName, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.SupervisorNumber)
                @Html.TextBoxFor(m => m.SupervisorNumber)
                @Html.ValidationMessageFor(model => model.SupervisorNumber, "", new { @class = "text-danger" })
            </fieldset>
        </div>

        <div class="well well-lg">
            <fieldset class="editor">
                @Html.LabelFor(m => m.PreviouslyEmployed)
                @Html.CheckBoxFor(model => model.PreviouslyEmployed, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.PreviouslyEmployed, "", new { @class = "text-danger" })
            </fieldset>
            <hr />
            <fieldset class="editor">
                @Html.LabelFor(m => m.PreviousEmployer)
                @Html.TextBoxFor(m => m.PreviousEmployer)
                @Html.ValidationMessageFor(model => model.PreviousEmployer, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevAddress)
                @Html.TextBoxFor(m => m.PrevAddress)
                @Html.ValidationMessageFor(model => model.PrevAddress, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevCity)
                @Html.TextBoxFor(m => m.PrevCity)
                @Html.ValidationMessageFor(model => model.PrevCity, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(model => model.PrevState)
                @Html.EnumDropDownListFor(model => model.PrevState, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.PrevState, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevZip)
                @Html.TextBoxFor(m => m.PrevZip)
                @Html.ValidationMessageFor(model => model.PrevZip, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevWorkPhone)
                @Html.TextBoxFor(m => m.PrevWorkPhone)
                @Html.ValidationMessageFor(model => model.PrevWorkPhone, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevPosition)
                @Html.TextBoxFor(m => m.PrevPosition)
                @Html.ValidationMessageFor(model => model.PrevPosition, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevIncome)
                @Html.TextBoxFor(m => m.PrevIncome)
                @Html.ValidationMessageFor(model => model.PrevIncome, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevStartDate)
                @Html.TextBoxFor(m => m.PrevStartDate)
                @Html.ValidationMessageFor(model => model.PrevStartDate, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevEndDate)
                @Html.TextBoxFor(m => m.PrevEndDate)
                @Html.ValidationMessageFor(model => model.PrevEndDate, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevSupervisor)
                @Html.TextBoxFor(m => m.PrevSupervisor)
                @Html.ValidationMessageFor(model => model.PrevSupervisor, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="editor">
                @Html.LabelFor(m => m.PrevPhoneNumber)
                @Html.TextBoxFor(m => m.PrevPhoneNumber)
                @Html.ValidationMessageFor(model => model.PrevPhoneNumber, "", new { @class = "text-danger" })
            </fieldset>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Continue" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}
@if (User.IsInRole("Admin") || User.IsInRole("Landlord"))
{
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
