@model Apartment.Models.EmergencyContact

@{
    ViewBag.Title = "Create";
}
<legend class="legend">Emergency Contacts</legend>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" id="emergencyForm">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <span id="subHeader">Contact #1</span>

        <div class="well well-lg">
            <fieldset class="emergency">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="emergency">
                @Html.LabelFor(model => model.Relationship)
                @Html.TextBoxFor(model => model.Relationship)
                @Html.ValidationMessageFor(model => model.Relationship, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="emergency">
                @Html.LabelFor(model => model.Phone)
                @Html.TextBoxFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </fieldset>
        </div>

        <span id="subHeader">Contact #2</span>
        <div class="well well-lg">
            <fieldset class="emergency">
                @Html.LabelFor(model => model.Name2)
                @Html.TextBoxFor(model => model.Name2)
                @Html.ValidationMessageFor(model => model.Name2, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="emergency">
                @Html.LabelFor(model => model.Relationship2)
                @Html.TextBoxFor(model => model.Relationship2)
                @Html.ValidationMessageFor(model => model.Relationship2, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="emergency">
                @Html.LabelFor(model => model.Phone2)
                @Html.TextBoxFor(model => model.Phone2)
                @Html.ValidationMessageFor(model => model.Phone2, "", new { @class = "text-danger" })
            </fieldset>
        </div>

        <span id="subHeader">Contact #3</span>
        <div class="well well-lg">
            <fieldset class="emergency">
                @Html.LabelFor(model => model.Name3)
                @Html.TextBoxFor(model => model.Name3)
                @Html.ValidationMessageFor(model => model.Name3, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="emergency">
                @Html.LabelFor(model => model.Relationship3)
                @Html.TextBoxFor(model => model.Relationship3)
                @Html.ValidationMessageFor(model => model.Relationship3, "", new { @class = "text-danger" })
            </fieldset>
            <fieldset class="emergency">
                @Html.LabelFor(model => model.Phone3)
                @Html.TextBoxFor(model => model.Phone3)
                @Html.ValidationMessageFor(model => model.Phone3, "", new { @class = "text-danger" })
            </fieldset>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Continue" class="btn btn-primary btn-lg" />
            </div>
        </div>
    </div>
}

