@model Apartment.Models.Case

@{
    ViewBag.Title = "Edit";
}
<legend class="legend">@ViewBag.Title Tenant Cases</legend>

@using (Html.BeginForm("Edit", "Cases", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal miniBody_content">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="well well-lg">
            <fieldset class="creator">
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </fieldset>

            <fieldset class="creator">
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </fieldset>

            <fieldset class="creator">
                @Html.LabelFor(m => m.ApplicationFilled)
                @Html.CheckBoxFor(model => model.ApplicationFilled, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.ApplicationFilled, "", new { @class = "text-danger" })
            </fieldset>

            <fieldset class="creator">
                @Html.LabelFor(m => m.BackgroundStatus)
                @Html.CheckBoxFor(model => model.BackgroundStatus, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.BackgroundStatus, "", new { @class = "text-danger" })
            </fieldset>

            <fieldset class="creator">
                @Html.LabelFor(m => m.CreditReportStatus)
                @Html.CheckBoxFor(model => model.CreditReportStatus, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.CreditReportStatus, "", new { @class = "text-danger" })
            </fieldset>

            <fieldset class="creator">
                @Html.LabelFor(m => m.LeaseSigned)
                @Html.CheckBoxFor(model => model.LeaseSigned, new { style = "margin-left: 20px;" })
                @Html.ValidationMessageFor(model => model.LeaseSigned, "", new { @class = "text-danger" })
            </fieldset>

            <fieldset class="creator">
                @Html.LabelFor(m => m.LeasePath)
                <input type="file" name="file" style="margin-left:20px;"/>
            </fieldset>

            <fieldset class="creator">
                @Html.LabelFor(m => m.Status)
                @Html.EnumDropDownListFor(m => m.Status, new { style = "margin-left: 20px;" })
            </fieldset>
           
        </div>
        <div class="form-group">
            <div class="col-md-9">
                <input type="submit" value="Update" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index", "Cases")"><input class="btn btn-primary" value="<< Back to List" style="margin-left: 15px;"/></a>
</div>
